.pdf-content {
  font-family: Arial, sans-serif;
}

.page-break {
  page-break-before: always;
}

.page-break-avoid {
  page-break-inside: avoid; /* Evita que el contenido de este elemento se corte en dos páginas */
}

.signature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pdf-table {
  width: 100%;
}

.signature-image {
  max-width: 200px;
  max-height: 100px;
}
